:root {
    --primary: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

.attribution { 
    color: var(--white);
    font-size: 14px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

.main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: hsl(208, 13%, 25%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--white);
    margin-bottom: 15px;
}

.paragraph {
    color: var(--light-grey);
    margin-bottom: 20px;
}

.hide-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}